.registration-container {
  display: flex;
  flex-direction: column;
  padding: 100px;
  max-width: 600px;
  margin: 80px auto;
  background-image: linear-gradient(to right top, #eeaeca, #deb0d9, #c8b3e4, #afb7ea, #94bbe9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
}

.registration-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.registration-container form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.registration-container input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration-container button {
  padding: 10px;
  background-color: #ca0c2a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registration-container button:hover {
  background-color: #eb8c9a;
}